
body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    


    h1{
        text-align: center;
        color: #0707F7;
    }
    h2{
        color:#4707f7
    
    }

    h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    h5{
        text-align:center;
    }

    p {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}